<%= paginate @links, theme:'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered"%>
<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= (link.user.nil?)? 'Unknowen User' : link.user.nickname %></small>
    </h2>

    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= link.url %>" target="_blank">Visit Link</a>
      <%= link_to links_path, method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= 5 %>
      <% end %>
      <%= link_to links_path, method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Downvote
        <%= 5 %>
      <% end %>
    </div>
  </div>
<% end %>

